*{
  margin: 0;
  padding: 0;
}
.Top{
  background-color: rgb(7, 91, 90);
  padding: 4px 0px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.form-control::placeholder{
  color: rgba(255, 255, 255, 0.661);
}
a{
  color: rgb(74 168 255);
  text-decoration: none !important;
}
a:hover{
  text-decoration: underline !important;
}
